<div class="flex">
  <code>
    <span class="font-medium px-2.5 py-0.5 rounded bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300 border">
      <span x-text="data.type"></span>
    </span>
  </code>
  <div class="text-sm font-normal ml-2 text-gray-500 dark:text-gray-300">
    <span x-text="message"></span>
    <span class="text-xs font-medium ml-2 me-2 px-2.5 py-0.5 rounded"
          :class="`bg-${tag.color}-100 text-${tag.color}-800 dark:bg-${tag.color}-900 dark:text-${tag.color}-300`"
          x-text="tag.label">
    </span>
  </div>
</div>
