<!-- Dropdown button -->
<button x-dropdown:button type="button"
        class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        :class="{ 'dark:bg-purple-900': state.dirty }">
  <span x-text="label"></span>
  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
</button>

<!-- Dropdown menu -->
<div x-dropdown:menu x-id="['dropdown']" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
  <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200">
    <template x-for="(item, index) in items" :key="index">
      <li x-dropdown:item :id="`dropdown-item-${index}`">
        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
          <input :id="`dropdown-item-${index}-input`" :checked="item.checked" type="checkbox" :value="item.value"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label :for="`dropdown-item-${index}-input`" x-text="item.label"
                 class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
          </label>
        </div>
      </li>
    </template>
  </ul>

  <!-- Toggle -->
  <div x-dropdown:toggle class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200">
    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
      <input :id="`${$id('dropdown')}-select-all`" :checked="state.toggle" type="checkbox" value=""
             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
      <label :for="`${$id('dropdown')}-select-all`"
             class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
        <span x-text="toggleLabel"></span>
      </label>
    </div>
  </div>
</div>
