<nav class="flex items-center justify-between p-4" aria-label="Table navigation" x-show="total > 0 && !fetching">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white"><span x-text="resultsStart"></span>-<span x-text="resultsEnd"></span></span> of <span class="font-semibold text-gray-900 dark:text-white" x-text="total"></span>
    </span>
  <ul class="inline-flex -space-x-px text-sm h-8">
    <li>
      <button class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :disabled="page === 1"
              @click="table.prevPage()">
        Previous
      </button>
    </li>
    <template x-for="i in pagesTotal">
      <li x-show="i <= Math.max(page + pagesMax/2, pagesMax) && i >= Math.min(pagesTotal - pagesMax, page - pagesMax/2)">
        <button class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                @click="table.getPage(i)"
                x-show="page !== i"
                x-text="i">
        </button>
        <button
          aria-current="page"
          class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
          @click="table.getPage(i)"
          x-show="page === i"
          x-text="i">
        </button>
      </li>
    </template>
    <li>
      <button class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :disabled="page === pagesTotal"
              @click="table.nextPage()">
        Next
      </button>
    </li>
  </ul>
</nav>
