<div class="flex justify-between">
  <template x-if="filter">
    <div class="flex flex-col items-center p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4" x-data="filter">
      <h6 class="text-sm font-medium text-gray-900 dark:text-white">
        Filter by
      </h6>
      <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
        <!-- Filter by organization -->
        <template x-if="filter.organization">
          <div x-filter-dropdown="filter.organization">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by provider -->
        <template x-if="filter.provider">
          <div x-filter-dropdown="provider">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by request method -->
        <template x-if="filter.method">
          <div x-filter-dropdown="method">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by response status -->
        <template x-if="filter.status">
          <div x-filter-dropdown="status">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by date -->
        <template x-if="filter.date">
          <div x-filter-dropdown="date">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by integration -->
        <template x-if="filter.integration">
          <div x-filter-dropdown="integration">
            {{> common/filter-dropdown }}
          </div>
        </template>

        <!-- Filter by type -->
        <template x-if="filter.type">
          <div x-filter-dropdown="type">
            {{> common/filter-dropdown }}
          </div>
        </template>
      </div>
    </div>
  </template>
  <template x-if="actions">
    <div class="flex flex-col items-center p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
      <button class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              type="button" x-ref="actions-button">
        Bulk Actions
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <div class="w-32 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
            x-ref="actions-menu">
        <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200">
          <template x-for="action in actions">
            <li>
              <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                <label class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"
                       x-text="action.label">
                </label>
              </div>
            </li>
          </template>
        </ul>
    </div>
  </template>
</div>
