{{!< base}}

<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Dashboard
    </h2>

    <!-- Cards -->
    {{> dashboard/cards }}

    <!-- Integrations-->
    <h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
      Integrations
    </h2>
    {{> integrations/table }}
  </div>
</main>
