{{!< base}}

<main class="h-full overflow-y-auto" x-data="dashboard">
  <!-- Today -->
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Today
    </h2>
    <div>
      {{> dashboard/cards }}
    </div>

    <!-- Integrations-->
    <h2 class="mb-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
      Integrations
    </h2>
    <div class="mb-4">
      {{> integrations/table }}
    </div>


    <!-- Recent Activity -->
    <h2 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
      Last 7 days
    </h2>

    <div class="grid grid-cols-2 gap-8">
      <div class="grid">
        <template x-if="charts.provider_api_errors.series !== null">
          <div x-data="{ series: charts.provider_api_errors.series, options: charts.provider_api_errors.options, title: 'Provider API errors' }">
            {{> dashboard/charts }}
          </div>
        </template>
      </div>
      <div class="grid">
        <template x-if="charts.events.series !== null">
          <div x-data="{ series: charts.events.series, options: charts.events.options, title: 'Orders created' }">
            {{> dashboard/charts }}
          </div>
        </template>
      </div>
    </div>


  </div>
</main>
