{{!< base}}

<main class="h-full overflow-y-auto" x-data="dashboard">

  <div class="container px-6 mx-auto grid">

    <!-- Today -->
    <div class="mb-4">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Today
      </h2>
      <div>
        {{> dashboard/cards }}
      </div>
    </div>

    <!-- Recent Activity -->
    <div class="mb-4">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Latest Activity
      </h2>

      <div class="grid grid-cols-2 gap-8">
        <div class="grid" x-data="charts.provider_api_errors">
          <div x-data="{ title: 'Provider API errors' }">
            {{> dashboard/charts }}
          </div>
        </div>
        <div class="grid" x-data="charts.events">
          <div x-data="{ title: 'Orders created' }">
            {{> dashboard/charts }}
          </div>
        </div>
      </div>
    </div>

    <!-- Integrations-->
    <div class="mb-4">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Integrations
      </h2>
      <div class="mb-4" x-data="integrations">
        {{> integrations/table }}
      </div>
    </div>

  </div>
</main>
