{{!< base}}

<main class="h-full overflow-y-auto" x-data="integrationPage">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Integration <span x-text="integration.id"></span>
      <span
        class="text-sm px-2 py-1 font-semibold leading-tight rounded-full"
        x-bind:class="`text-${integration.color}-700 bg-${integration.color}-100 dark:bg-${integration.color}-700 dark:text-${integration.color}-100`"
        x-text="integration.status">
      </span>
      <template x-if="integration.operations?.length">
        <span class="ml-3 text-sm font-semibold text-purple-600 dark:text-gray-400">
          <template x-for="(operation, index) in integration.operations" :key="operation">
            <span>
              <span x-show="index > 0" class="mx-1 text-gray-500">|</span>
              <a href="#" class="hover:underline capitalize"
                 @click="await actionModal.open({ integration, operation })"
                 x-text="operation"></a>
            </span>
          </template>
        </span>
      </template>
    </h2>

    <dl class="max-w text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
      <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Creation Date</dt>
        <dd class="text-lg font-semibold" x-date="integration.createdAt"></dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Practice</dt>
        <dd class="text-lg font-semibold">
          <span x-text="integration.practice?.name"></span>
          (<span x-text="integration.practice?.organization?.name"></span>)
        </dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Integration Options</dt>
        <dd class="flex whitespace-pre-wrap rounded-lg p-4 bg-gray-900 text-gray-200 overflow-scroll">
          <code x-code="integration.integrationOptions"></code>
        </dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Provider Configuration (<span x-text="integration?.providerConfiguration?.providerId"></span>)
        </dt>
        <dd class="flex whitespace-pre-wrap rounded-lg p-4 bg-gray-900 text-gray-200 overflow-scroll">
          <code x-code="integration?.providerConfiguration?.configurationOptions"></code>
        </dd>
      </div>
    </dl>
  </div>
  <div x-data="actionModal">
    {{> integrations/modal }}
  </div>
</main>
