<div id="refsModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Edit Reference Data <span x-text="editingRef.id"></span>
        </h3>
        <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                @click="closeModal()">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          <input type="text" name="name" id="name" value="iPad Air Gen 5th Wi-Fi" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" x-model="editingRef.name" placeholder="Ex. Apple iMac 27&ldquo;">
        </div>
        <div>
          <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code</label>
          <input type="text" name="brand" id="brand" value="Google" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" x-model="editingRef.code" placeholder="Ex. Apple">
        </div>
        <div class="sm:col-span-2">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mappings</label>
          <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">
                  Provider
                </th>
                <th scope="col" class="px-6 py-3 w-80">
                  Provider Code
                </th>
                <th scope="col" class="w-16">
                </th>
              </tr>
              </thead>
              <tbody>
              <template x-for="mapping in editingRefMappings" x-id="['text-input', 'dropdown-menu']">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
                      x-text="mapping.provider">
                  </th>
                  <td class="px-6 py-4">
                    <template x-if="editingMapping?.provider !== mapping.provider">
                      <div>
                        <span x-show="mapping.ref?.id">
                          <span x-text="mapping.ref?.code"></span> (<span x-text="mapping.ref?.name"></span>)
                        </span>
                        <span x-show="!mapping.ref?.id" class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Unset</span>
                      </div>
                    </template>
                    <template x-if="isEditingMapping && editingMapping?.provider === mapping.provider">
                      <div x-data="providerRefTypeahead">
                        {{> refs/provider-ref-typeahead }}
                      </div>
                    </template>
                  </td>
                  <td class="px-6 py-4">
                    <a href="#" x-show="isEditingMapping && editingMapping?.provider === mapping.provider" @click="cancelMappingEdit">
                      Cancel
                    </a>
                    <a href="#" x-show="!isEditingMapping && !mapping.ref?.code" @click="editMapping(mapping)">
                      Set
                    </a>
                    <a href="#" x-show="!isEditingMapping && mapping.ref?.code" @click="editMapping(mapping)">
                      Edit
                    </a>
                  </td>
                </tr>
              </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <template x-if="Object.keys(updates).length > 0">
        <div>
          <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
            Updates:
          </h2>
          <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
            <template x-for="update in updates" :key="update.provider">
              <li class="flex items-center">
                <svg class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"
                     :class="{ 'text-green-500': update.done,  'dark:text-green-400': update.done }">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span>
                  <span x-text="update.provider.toUpperCase()"></span>: map to <strong><span x-text="update.ref.code"></span> (<span x-text="update.ref.name"></span>)</strong>
                </span>
              </li>
            </template>
          </ul>
        </div>
      </template>
      <div class="flex items-center p-6 space-x-2 rounded-b dark:border-gray-600">
        <template x-if="!updatingRefs">
          <button type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  @click="updateRef">
            Update
          </button>
        </template>
        <template x-if="updatingRefs === true">
          <button disabled type="button"
                  class="py-2.5 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
            </svg>
            Updating...
          </button>
        </template>
        <button type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                @click="closeModal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
