<input :id="$id('text-input')" type="text" x-model="query" @focus="search(mapping.provider, '')" @keydown.arrow-down.prevent="move(1)" @keydown.arrow-up.prevent="move(-1)" @keydown.enter.prevent="selectHighlighted()" @keydown.escape.prevent="query=''; results=[]" @input.debounce="search(mapping.provider, query)"
       class="flex-1 min-w-0 px-2 py-1.5 g-gray-50 border border-gray-300 text-gray-900 text-xs rounded-md focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
       :placeholder="placeholder">
<div :id="$id('dropdown-menu')" class="z-10 hidden w-64 bg-white divide-y divide-gray-100 rounded-md shadow dark:bg-gray-700">
  <ul class="py-1 text-xs text-gray-700 dark:text-gray-200 max-h-60 overflow-y-auto" :aria-labelledby="$id('text-input')">
    <template x-for="(result, index) in results" :key="index">
      <li>
        <a href="#" @click="select(result)" class="block px-2 py-1.5 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" :class="{ 'bg-gray-100 dark:bg-gray-600' : index === highlightedIndex }">
          <span x-text="result.name"></span> [<span class="font-mono" x-text="result.code"></span>]
        </a>
      </li>
    </template>
    <template x-if="results.length === 0">
      <li class="px-2 py-1.5 text-gray-500 dark:text-gray-400 text-xs">
        No results found
      </li>
    </template>
  </ul>
</div>
