<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400" id="tabExample" role="tablist">
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="sexes-tab" type="button" role="tab" aria-controls="sexes" aria-selected="false">
        Sexes
      </button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="species-tab" type="button" role="tab" aria-controls="species" aria-selected="false">
        Species
      </button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="breeds-tab" type="button" role="tab" aria-controls="breeds" aria-selected="false">
        Breeds
      </button>
    </li>
  </ul>
</div>
<div id="tabContentExample">
  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="sexes" role="tabpanel" aria-labelledby="sexes-tab">
    <div class="flex items-center justify-between">
      <h3 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
        Sexes (<span x-text="referenceData.sexes.length"></span>)
      </h3>
    </div>
    {{> refs/table type="sexes" }}
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="species" role="tabpanel" aria-labelledby="species-tab">
    <div class="flex items-center justify-between">
      <h3 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
        Species (<span x-text="referenceData.species.length"></span>)
      </h3>
    </div>
    {{> refs/table type="species" }}
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="breeds" role="tabpanel" aria-labelledby="breeds-tab">
    <div class="flex items-center justify-between">
      <h3 class="my-6 text-xl font-semibold text-gray-700 dark:text-gray-200">
        Breeds (<span x-text="referenceData.breeds.length"></span>)
      </h3>
    </div>
    {{> refs/table type="breeds" }}
  </div>
</div>
