<div x-data="table">
  {{#> table}}
    {{#*inline "tableHeader"}}
      <tr>
        <th class="px-4 py-3 w-[4rem]">#</th>
        <th class="px-4 py-3 w-[12rem]">Date</th>
        <th class="px-4 py-3 w-[12rem]">Provider</th>
        <th class="px-4 py-3">Practice</th>
        <th class="px-4 py-3 w-[20rem]">Integration</th>
        <th class="px-4 py-3 w-32">Type</th>
        <th class="px-4 py-3 w-24 text-center">Data</th>
      </tr>
    {{/inline}}
    {{#*inline "tableRows"}}
      <template x-for="ev in items">
        <tr class="text-gray-700 dark:text-gray-400">
          <td class="px-4 py-3">
            <a x-bind:href="ev.url" class="font-medium text-purple-600 dark:text-blue-500 hover:underline" x-text="ev.seq"></a>
          </td>
          <td class="px-4 py-3" x-date="ev.createdAt"></td>
          <td class="px-4 py-3">
            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded text-gray-800 dark:text-gray-300"
                  :class="`bg-provider-${ev.provider.id} dark:bg-provider-${ev.provider.id}`"
                  x-text="ev.provider.label">
                </span>
          </td>
          <td class="px-4 py-3 truncate" x-text="ev.practice?.name"></td>
          <td class="px-4 py-3 truncate" x-text="ev.integrationId"></td>
          <td class="px-4 py-3">
            <span class="px-2.5 py-0.5 rounded bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300 border">
              <span x-text="ev.type"></span>
            </span>
          </td>
          <td class="px-4 py-3 text-center">
            <div class="flex items-center space-x-4 text-sm">
              <button
                class="flex items-center mx-auto px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                @click="openModal(ev)"
                aria-label="Debug">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </template>
    {{/inline}}
  {{/table}}
</div>
