<div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg" x-data="table">
  {{> external-requests/filter }}

  <table class="w-full table-fixed text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3 w-56">
        Date
      </th>
      <th scope="col" class="px-6 py-3 w-36">
        Provider
      </th>
      <th scope="col" class="px-6 py-3 w-24">
        Method
      </th>
      <th scope="col" class="px-6 py-3">
        URL
      </th>
      <th scope="col" class="px-6 py-3 w-24">
        Status
      </th>
      <th scope="col" class="px-6 py-3 w-24">
        Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <template x-for="req in table.items">
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-6 py-4" x-date="req.createdAt">
        </td>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
            x-text="req.provider">
        </th>
        <td class="px-6 py-4" x-text="req.method">
        </td>
        <td class="px-6 py-4 truncate" x-text="req.url">
        </td>
        <td class="px-6 py-4" x-text="req.status">
        </td>
        <td class="px-6 py-4">
          <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                  @click="openModal(req)">
            Show
          </button>
        </td>
      </tr>
    </template>
    </tbody>
    <tfoot>

    </tfoot>
  </table>

  {{> common/pagination }}
</div>

{{> external-requests/modal }}
