<div class="flex flex-col items-center py-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
  <h6 class="text-sm font-medium text-gray-900 dark:text-white">
    Filter by
  </h6>
  <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
    <!-- Filter by organization -->
    <div x-dropdown="filter.organization">
      {{> common/dropdown }}
    </div>

    <!-- Filter by provider -->
    <div x-dropdown="filter.provider">
      {{> common/dropdown }}
    </div>

    <!-- Filter by status -->
    <div x-dropdown="filter.status">
      {{> common/dropdown }}
    </div>
  </div>
</div>
