<div x-data="integrations">
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      {{> integrations/filter }}

      <table class="w-full whitespace-no-wrap">
        <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">ID</th>
          <th class="px-4 py-3">Practice</th>
          <th class="px-4 py-3">Provider</th>
          <th class="px-4 py-3">Status</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <template x-for="integration in integrations" @filter.window="filterIntegrations">
          <tr class="text-gray-700 dark:text-gray-400" x-show="integration.show === true">
            <td class="px-4 py-3 text-xs" x-text="integration.id"></td>
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold" x-text="integration.practice.name"></p>
                  <p class="text-xs text-gray-600 dark:text-gray-400" x-text="integration.practice.organization.name"></p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-xs">
              <span class="uppercase" x-text="integration.providerConfiguration.providerId"></span>
            </td>
            <td class="px-4 py-3 text-xs">
              <span
                class="px-2 py-1 font-semibold leading-tight rounded-full"
                x-bind:class="`text-${integration.color}-700 bg-${integration.color}-100 dark:bg-${integration.color}-700 dark:text-${integration.color}-100`"
                x-text="integration.status">
              </span>
            </td>
            <td class="px-4 py-3 text-xs">
              <div class="flex items-center space-x-4 text-sm">
                <template x-if="integration.isRunning">
                  <ul class="flex flex-wrap items-center justify-center font-xs font-semibold text-purple-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="me-4 hover:underline"
                         @click="openModal(integration, 'stop')"
                         aria-label="Stop">
                        Stop
                      </a>
                    </li>
                    <li>
                      <a href="#" class="me-4 hover:underline"
                         @click="openModal(integration, 'restart')"
                         aria-label="Restart">
                        Restart
                      </a>
                    </li>
                  </ul>
                </template>
                <template x-if="!integration.isRunning">
                  <ul class="flex flex-wrap items-center justify-center font-xs font-semibold text-purple-600 dark:text-gray-400">
                    <li>
                      <a href="#" class="hover:underline"
                         @click="openModal(integration, 'start')"
                         aria-label="Start">
                        Start
                      </a>
                    </li>
                  </ul>
                </template>

              </div>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>
  </div>
  {{> integrations/modal }}
</div>
<div class="w-0 h-0 dark:bg-green-700"></div>
