<div x-data="practices">
  <div x-data="table">
    {{#> table}}
      {{#*inline "tableHeader"}}
        <tr>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3 w-72">Organization</th>
          <th class="px-4 py-3 w-64">Created Date</th>
          <th class="px-4 py-3 w-[28rem]">Running Integrations</th>
        </tr>
      {{/inline}}
      {{#*inline "tableRows"}}
        <template x-for="practice in items">
          <tr class="text-gray-700 dark:text-gray-400"
              :class="{ 'bg-gray-500 dark:bg-gray-600': practice._checked }">
            <td class="px-4 py-3 truncate" x-text="practice.name"></td>
            <td class="px-4 py-3 truncate" x-text="practice.organization.name"></td>
            <td class="px-4 py-3" x-date="practice.createdAt"></td>
            <td class="px-4 py-3">
              <template x-for="integration in practice.integrations">
                <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded text-gray-800 dark:text-gray-300"
                      :class="`bg-[${integration.provider.color}] dark:bg-[${integration.provider.color}]`"
                      x-text="integration.provider.label">
                  Default
                </span>
              </template>
            </td>
          </tr>
        </template>
      {{/inline}}
    {{/table}}
  </div>
</div>

<div :class="`w-0 h-0 dark:bg-[#8a3ffc]`"></div>
<div :class="`w-0 h-0 dark:bg-[#d12771]`"></div>
<div :class="`w-0 h-0 dark:bg-[#007d79]`"></div>
<div :class="`w-0 h-0 dark:bg-[#ba4e00]`"></div>
<div :class="`w-0 h-0 dark:bg-[#ba4e00]`"></div>
<div :class="`w-0 h-0 dark:bg-[#d2a106]`"></div>


