<!DOCTYPE html>
<html :class="{ 'dark': dark }" x-data="data" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>DMI Admin</title>
  <link rel="stylesheet" href="../../css/index.css"/>
</head>
<body>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
  {{> sidebar }}
  <div class="flex flex-col flex-1 w-full">
    {{> header }}
    {{{body}}}
  </div>
</div>
<script type="module" src="../../js/main.js" defer></script>
</body>
</html>
